<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_61_AIML/blob/main/Python_AIML_Project_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 1: Write the PYHON programming to input n and print the following programs:
Using for loop:

(i)

In [ ]:
n=int(input("Enter the number: "))
for i in range(n):
  print(i+1,end=', ')

Enter the number: 20
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

(ii)

In [ ]:
n=int(input("Enter the value: "))
for i in range(1,n,2):
  print(i,end=', ')

Enter the value: 20
1, 3, 5, 7, 9, 11, 13, 15, 17, 19,

(iii)

In [ ]:
n=int(input("Enter the value: "))
for i in range(2,n,2):
  print(i,end=', ')

Enter the value: 20
2, 4, 6, 8, 10, 12, 14, 16, 18,

(iv)

In [ ]:
n=int(input("Enter the number: "))
for i in range(1,n):
  c=i*i
  print(c,end=', ')

Enter the number: 20
1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361,

(v)

In [ ]:
n=int(input("Enter the number: "))
for i in range(1,n,2):
  c=i*i
  print(c,end=', ')

Enter the number: 20
1, 9, 25, 49, 81, 121, 169, 225, 289, 361,

(vi)

In [ ]:
n=int(input("Enter the number: "))
for i in range(2,n,2):
  c=i*i
  print(c,end=', ')

Enter the number: 20
4, 16, 36, 64, 100, 144, 196, 256, 324,

(vii)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
for j in range(1,n):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  print(pow(j,e),end=', ')

Enter a number: 10
Enter a value: 4
1, 16, 81, 256, 625, 1296, 2401, 4096, 6561,

(viii)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
for j in range(1,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  print(pow(j,e),end=', ')

Enter a number: 10
Enter a value: 3
1, 27, 125, 343, 729,

(ix)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
for j in range(2,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  print(pow(j,e),end=', ')

Enter a number: 20
Enter a value: 4
16, 256, 1296, 4096, 10000, 20736, 38416, 65536, 104976,

(x)

In [ ]:
n=int(input("Enter a number: "))
f=1
for i in range(1,n + 1):
       f = f*i
print(f)

Enter a number: 3
6

(xi)

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

Enter a number: 10
1, 2, 6, 24, 120, 720, 5040, 40320, 362880,

(xii)

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

Enter a number: 10
1, 6, 120, 5040, 362880,

(xiii)

In [ ]:
n=int(input("Enter a number: "))
for i in range(2,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

Enter a number: 10
2, 24, 720, 40320,

Using while loop

(i)

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
   print(i, end=', ')
   i=i+1

Enter a number: 10
1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

(ii)

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
   if i%2==0:
     print(i, end=', ')
   i=i+1

Enter a number: 10
2, 4, 6, 8, 10,

(iii)

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
   if i%2!=0:
     print(i, end=', ')
   i=i+1

Enter a number: 10
1, 3, 5, 7, 9,

(iv)

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
  c=i*i
  print(c, end=', ')
  i=i+1

Enter a number: 10
1, 4, 9, 16, 25, 36, 49, 64, 81, 100,

(v)

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
  if i%2==0:
    c=i*i
    print(c, end=', ')
  i=i+1

Enter a number: 10
4, 16, 36, 64, 100,

(vi)

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
  if i%2!=0:
    c=i*i
    print(c, end=', ')
  i=i+1

Enter a number: 10
1, 9, 25, 49, 81,

(vii)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
while i<=n:
  def power(i,e):
    res=0
    for j in range(e):
        res *= i
    return res   
  print(pow(i,e),end=', ')
  i=i+1

Enter a number: 10
Enter a value: 3
1, 8, 27, 64, 125, 216, 343, 512, 729, 1000,

(viii)

In [12]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
while i<=n:
  if i%2==0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     print(pow(i,e),end=', ')
  i=i+1

Enter a number: 10
Enter a value: 3
8, 64, 216, 512, 1000,

(ix)

In [13]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
while i<=n:
  if i%2!=0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     print(pow(i,e),end=', ')
  i=i+1

Enter a number: 10
Enter a value: 3
1, 27, 125, 343, 729,

(x)

In [16]:
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
  f=f*i
  i=i+1
print(f)

Enter a number: 4
24

(xi)

In [22]:
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
  f=f*i
  print(f,end=', ')
  i=i+1

Enter a number: 10
1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800,

(xii)

In [24]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
   if i%2==0:
     f=f*i
     print(f,end=', ')
   i=i+1

Enter a number: 10
2, 8, 48, 384, 3840,

(xiii)

In [25]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
   if i%2!=0:
     f=f*i
     print(f,end=', ')
   i=i+1

Enter a number: 10
1, 3, 15, 105, 945,