<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_61_AIML/blob/main/Python_AIML_Function_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [1]:
def pat(n):
  for i in range(0,n+1):
    for j in range(i):
      print(i,end='')
    print()
pat(5)

1
22
333
4444
55555

2.

In [2]:
def pat(n):
  for i in range(n,0,-1):
    for j in range(0,i):
      print(i,end='')
    print()
pat(5)

55555
4444
333
22
1

3.

In [3]:
def pat(n):
  for i in range(0,n+1):
    for j in range(i):
      print(i,end='')
    print()
n=int(input("Enter a number: "))
pat(n)

Enter a number: 6

1
22
333
4444
55555
666666

4.

In [4]:
def pat(n):
  for i in range(n,0,-1):
    for j in range(0,i):
      print(i,end='')
    print()
n=int(input("Enter a number: "))
pat(n)

Enter a number: 6
666666
55555
4444
333
22
1

5.

In [7]:
def pat(n):
  for i in range(0,n+1):
    for j in range(i):
      print(i,end='')
    print()
pat(5)
def pat(n):
  for i in range(n,0,-1):
    for j in range(0,i):
      print(i,end='')
    print()
pat(4)

1
22
333
4444
55555
4444
333
22
1

6.

In [9]:
n=int(input("Enter a number: "))
def pat(n):
  for i in range(0,n+1):
    for j in range(i):
      print(i,end='')
    print()
pat(n)
def pat(n):
  for i in range(n,0,-1):
    for j in range(0,i):
      print(i,end='')
    print()
pat(n-1)

Enter a number: 6

1
22
333
4444
55555
666666
55555
4444
333
22
1

7.

In [12]:
def pat(n):
     for i in range(5,0,-1):
          for j in  range(5,i-1,-1):
                print(j,end=' ')
          print()
pat(5)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

8.

In [13]:
def pat(n):
  for i in range(1,6):
       for j in  range(5,i-1,-1):
              print(j,end=' ')
       print()
pat(5)

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

9.

In [15]:
def pat(n):
  for i in range(n,0,-1):
     for j in  range(n,i-1,-1):
       print(j,end=' ')
     print()
n=int(input("Enter a number: "))
pat(n)

Enter a number: 6
6
6 5
6 5 4
6 5 4 3
6 5 4 3 2
6 5 4 3 2 1

10.

In [21]:
def pat(n):
  for i in range(0,n):
      for j in range(n-1,i-1,-1):
          print(j+1,end=' ')
      print()
n=int(input("Enter a number: "))
pat(n)

Enter a number: 6
6 5 4 3 2 1
6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

11.

In [33]:
def pat(n): 
    for i in range(5,0,-1):
         for j in  range(5,i-1,-1):
             print(j,end=' ')
         print()
pat(5)
def pat(n):
    for i in range(2,6):
        for j in  range(5,i-1,-1):
           print(j,end=' ')
        print()
pat(5)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

12.

In [34]:
def pat(n):
     for i in range(0,6):
        for j in range(i,0,-1):
             print(j,end=' ')
        print()
pat(5)

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

13.

In [35]:
def pat(n):
   for i in range(0,5+1):
       for j in  range(5-i,0,-1):
          print(j,end=' ')
       print()
pat(6)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

14.

In [38]:
def pat(n):
    for i in range(0,5):
        for j in range(i,0,-1):
           print(j,end=' ')
        print()
    for k in range(0,5+1):
        for l in  range(5-k,0,-1):
            print(l,end=' ')
        print()
pat(5)

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

15.

In [39]:
def pat(n):
    for i in range(1,5):
        for j in  range(0,5):
           c=(i+j)%2
           print(c,end=' ')
        print()
pat(5)

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

16.

In [40]:
def pat(n):
   for i in range(1,5+1):
      for j in  range(1,i+1):
          c=j%2
          print(c,end=' ')
      print()
pat(5)

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1