<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_61_AIML/blob/main/Python_AIML_Project2_1_ipyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Separately  , Using nested for, while looping structure for the following programs:

Using For loop

1(a)

In [1]:
for i in range(0,6):
  for j in  range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1(b)

In [2]:
for i in range(5,0,-1):
  for j in  range(0,i):
    print(i,end=' ')
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

1(c)

In [6]:
n=int(input("Enter a number: "))
for i in range(0,n):
  for j in  range(i):
    print(i+1,end=' ')
  print()

Enter a number: 8

2
3 3
4 4 4
5 5 5 5
6 6 6 6 6
7 7 7 7 7 7
8 8 8 8 8 8 8

1(d)

In [5]:
n=int(input("Enter a number: "))
for i in range(n,0,-1):
  for j in  range(0,i):
    print(i,end=' ')
  print()

Enter a number: 8
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

1(e)

In [7]:
for i in range(0,5):
  for j in  range(i):
    print(i,end=' ')
  print()
for i in range(5,0,-1):
  for j in  range(0,i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

1(f)

In [9]:
n=int(input("Enter a number: "))
for i in range(0,n):
  for j in  range(i):
    print(i,end=' ')
  print()
for i in range(n,0,-1):
  for j in  range(0,i):
    print(i,end=' ')
  print()

Enter a number: 8

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

2(a)

In [22]:
for i in range(5,0,-1):
  for j in  range(5,i-1,-1):
    print(j,end=' ')
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

2(b)

In [12]:
for i in range(1,6):
  for j in  range(5,i-1,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

2(c)

In [14]:
n=int(input("Enter a number: "))
for i in range(n,0,-1):
  for j in  range(n,i-1,-1):
    print(j,end=' ')
  print()

Enter a number: 8
8
8 7
8 7 6
8 7 6 5
8 7 6 5 4
8 7 6 5 4 3
8 7 6 5 4 3 2
8 7 6 5 4 3 2 1

2(d)

In [21]:
n=int(input("Enter a number: "))
for i in range(0,n):
  for j in range(n-1,i-1,-1):
    print(j+1,end=' ')
  print()

Enter a number: 8
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2
8 7 6 5 4 3
8 7 6 5 4
8 7 6 5
8 7 6
8 7
8

2(e)

In [23]:
for i in range(5,0,-1):
  for j in  range(5,i-1,-1):
    print(j,end=' ')
  print()
for i in range(2,6):
  for j in  range(5,i-1,-1):
    print(j,end=' ')
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

3(a)

In [24]:
for i in range(0,6):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

3(b)

In [25]:
for i in range(0,5+1):
  for j in  range(5-i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

3(c)

In [26]:
for i in range(0,5):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()
for i in range(0,5+1):
  for j in  range(5-i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

4.

In [29]:
for i in range(1,5):
  for j in  range(0,5):
    c=(i+j)%2
    print(c,end=' ')
  print()

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

5.

In [30]:
for i in range(1,5+1):
  for j in  range(1,i+1):
    c=j%2
    print(c,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1