<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_61_AIML/blob/main/Python_AIML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Input radius finds AREA OF CIRCLE and PERIMETER OF THE CIRCLE

In [ ]:
r=int(input("Enter the value of Radius: "))
A=int(3.141*r*r)
print("The Area Of Circle: ",A)
P=int(2*3.141*r)
print("Perimeter of the Circle: ",P)

Enter the value of Radius: 5
The Area Of Circle:  78
Perimeter of the Circle:  31

2.	Input Kilometer converts to centimeter, meter, and millimeter

In [ ]:
D=int(input("Enter the value in Km: "))
M=1000*D
print("Convert to Meter: ",M,"m")
CM=100000*D
print("Convert to Centimeter: ",CM,"cm")
MM=1000000*D
print("Convert to Milimeter: ",MM,"mm")

Enter the value in Km: 5
Convert to Meter:  5000 m
Convert to Centimeter:  500000 cm
Convert to Milimeter:  5000000 mm

3.	Input two numbers find sum without ‘+’operator

In [17]:
a=int(input("Enter the value of a: "))
b=int(input("Enetr the value of b: "))
def sum(a,b):
    for i in range(1,b+1):
      a=a+1
    return a  
print("The sum of the value: ",sum(a,b))

Enter the value of a: 3
Enetr the value of b: 4
The sum of the value:  7

4.	Input two numbers find remainder without ‘%’.

In [20]:
a=int(input("Enter the value of a: "))
b=int(input("Enetr the value of b: "))
def rem(a,b):
  return(a-b*(a//b))
print("The reminder value: ",rem(a,b))

Enter the value of a: 100
Enetr the value of b: 8
The reminder value:  4

5.	Input temperature finds Celsius and Fahrenheit and vice-versa.

In [24]:
Celsius=float(input("Enter the value : "))
Fahrenheit= (Celsius * 1.8) + 32
print("The Value in Fahrenheit",Fahrenheit)
Fahrenheit_f=float(input("Enter the value : "))
Celsius_c=int((Fahrenheit_f - 32)  / 1.8)
print("The Value in Celsius",Celsius_c)

Enter the value : 23
The Value in Fahrenheit 73.4
Enter the value : 73.4
The Value in Celsius 23

6.	Input a number finds reverse number without looping structure

In [27]:
n = int(input('Enter the number: '))
rev = int(str(n)[::-1])
print('The reverse number is =', rev)

Enter the number: 123
The reverse number is = 321