<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_61_AIML/blob/main/Python_AIML_Project_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using looping structures (for, while looping structure (DO THE SEPARATE LOOPING STRUCTURE))

Using For loop:

(xiv)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n):
  s=s+i
  print('s=',s)

Enter a number: 5
s= 1
s= 3
s= 6
s= 10

(xv)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n,2):
  s=s+i
  print('s=',s)

Enter a number: 10
s= 1
s= 4
s= 9
s= 16
s= 25

(xvi)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(2,n,2):
  s=s+i
  print('s=',s)

Enter a number: 10
s= 2
s= 6
s= 12
s= 20

(xvii)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n):
  c=i*i
  s=s+c
  print('s=',s)

Enter a number: 5
s= 1
s= 5
s= 14
s= 30

(xviii)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n,2):
  c=i*i
  s=s+c
  print('s=',s)

Enter a number: 10
s= 1
s= 10
s= 35
s= 84
s= 165

(xix)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(2,n,2):
  c=i*i
  s=s+c
  print('s=',s)

Enter a number: 10
s= 4
s= 20
s= 56
s= 120

(xx)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
s=0
for j in range(1,n):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  s=s+pow(j,e)
  print('s=',s)

Enter a number: 5
Enter a value: 3
s= 1
s= 9
s= 36
s= 100

(xxi)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
s=0
for j in range(1,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  s=s+pow(j,e)
  print('s=',s)

Enter a number: 10
Enter a value: 4
s= 1
s= 82
s= 707
s= 3108
s= 9669

(xxii)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
s=0
for j in range(2,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  s=s+pow(j,e)
  print('s=',s)

Enter a number: 10
Enter a value: 4
s= 16
s= 272
s= 1568
s= 5664

(xxiii)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
  print('s=',s)

Enter a number: 5
s= 1
s= 3
s= 9
s= 33

(xxiv)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
  print('s=',s)

Enter a number: 10
s= 1
s= 7
s= 127
s= 5167
s= 368047

(xxv)

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(2,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
  print('s=',s)

Enter a number: 10
s= 2
s= 26
s= 746
s= 41066

Using While loop

(xiv)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
  s=s+i
  print('s=',s)
  i=i+1

Enter a number: 10
s= 1
s= 3
s= 6
s= 10
s= 15
s= 21
s= 28
s= 36
s= 45
s= 55

(xv)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2==0:
     s=s+i
     print('s=',s)
   i=i+1

Enter a number: 10
s= 2
s= 6
s= 12
s= 20
s= 30

(xvi)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2!=0:
     s=s+i
     print('s=',s)
   i=i+1

Enter a number: 10
s= 1
s= 4
s= 9
s= 16
s= 25

(xvii)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
  c=i*i
  s=s+c
  print('s=',s)
  i=i+1

Enter a number: 5
s= 1
s= 5
s= 14
s= 30
s= 55

(xviii)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2!=0:
     c=i*i
     s=s+c
     print('s=',s)
   i=i+1

Enter a number: 10
s= 1
s= 10
s= 35
s= 84
s= 165

(xix)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2==0:
     c=i*i
     s=s+c
     print('s=',s)
   i=i+1

Enter a number: 10
s= 4
s= 20
s= 56
s= 120
s= 220

(xx)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
s=0
while i<=n:
  def power(i,e):
    res=0
    for j in range(e):
        res *= i
    return res   
  s=s+pow(i,e)
  print('s=',s)
  i=i+1

Enter a number: 5
Enter a value: 3
s= 1
s= 9
s= 36
s= 100
s= 225

(xxi)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
s=0
while i<=n:
  if i%2!=0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     s=s+pow(i,e)
     print('s=',s)
  i=i+1

Enter a number: 10
Enter a value: 3
s= 1
s= 28
s= 153
s= 496
s= 1225

(xxii)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
s=0
while i<=n:
  if i%2==0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     s=s+pow(i,e)
     print('s=',s)
  i=i+1

Enter a number: 10
Enter a value: 4
s= 16
s= 272
s= 1568
s= 5664
s= 15664

(xxiii)

In [ ]:
n=int(input("Enter a number: "))
f=1
i=1
s=0
while i<=n:
  f=f*i
  s=s+f
  print('s=',s)
  i=i+1

Enter a number: 5
s= 1
s= 3
s= 9
s= 33
s= 153

(xxiv)

In [ ]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
s=0
while i<=n:
   if i%2!=0:
     f=f*i
     s=s+f
     print('s=',s)
   i=i+1

Enter a number: 10
s= 1
s= 4
s= 19
s= 124
s= 1069

(xxv)

In [ ]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
s=0
while i<=n:
   if i%2==0:
     f=f*i
     s=s+f
     print('s=',s)
   i=i+1

Enter a number: 10
s= 2
s= 10
s= 58
s= 442
s= 4282